extends layout

block content
  .chat-container(ng-controller="MainController as vm")
    .login(ng-if="!vm.entered")
      .username
        lx-text-field(label="Username", lx-allow-clear="true")
          input(type="text", ng-model="vm.username")
      .signin
        lx-button(lx-type="raised", ng-click="vm.enter()") Enter
    .chat-box(ng-class="{entered: vm.entered}")
      .chat
      .users
        .user(ng-repeat="user in vm.users") {{user}}
